.about {
  grid-row: 3/4;
  grid-column: 1/3;

  &__header {
    height: 40vh;
  }
  &__img {
    width: 84rem;
    height: 55vh;
    padding: 5rem;
  }
}
.about-container {
  display: flex;
  height: 60vh;
  align-items: center;
}
