// COLOR VARIABLES
$color-primary: #010203;
$color-primary-dark: #000;

$color-secondary: #010203;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

//BP
$bp-largest: 75em;
$bp-large: 62.5em;
$bp-medium: 50em;
$bp-small: 37.5em;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
}

body {
  font-family: $font-primary;
  color: #fff;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-columns: 6rem 1fr;
  grid-template-rows: 6rem repeat(9, min-content) 6rem;
}

.parallax {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 40vh;
}
