.contacts {
  grid-row: 9/10;
  grid-column: 1/3;
  &__header {
    height: 40vh;
  }
  &__container {
    display: grid;
    width: 60%;
    height: 60vh;
    grid-template-columns: 12rem 1fr;
    grid-template-rows: repeat(3, 12rem);
    margin: 10rem auto;
    grid-gap: 2rem;

    align-items: center;
  }
  &__icon {
    grid-column: 1/2;
    height: 10rem;
  }
  &__info {
    font-size: 4rem;
  }
}
