.download {
  grid-row: 7/8;
  grid-column: 1/3;
  &__header {
    height: 40vh;
  }
  &__icon {
    display: flex;
    height: 25rem;
    margin: 15rem auto;
  }
  &__img {
    margin: 0 auto;
  }
}
