.footer {
  background-color: $color-secondary;
  height: 6rem;
  grid-column: 2/-1;
  grid-row: 10/ 11;
  width: 60vw;
  display: grid;
  align-content: center;
  z-index: 100;
  @media only screen and (max-width: 87.5em) {
    grid-column: 1/-1;
  }
}

.copyright {
  font-size: 1.4rem;
  color: $color-grey-light-2;
  margin-top: 2rem;
  text-align: center;
  grid-row: 11/ 12;
  grid-column: 1/-1;
}
