.header {
  background-color: $color-secondary;
  height: 6rem;
  grid-column: 2/-1;
  grid-row: 1/ 2;
  width: 70vw;
  display: grid;
  z-index: 100;
  grid-template-columns: repeat(2, minmax(min-content, max-content)) 1fr;
  align-content: center;
  align-items: center;
  @media only screen and (max-width: 87.5em) {
    grid-column: 1/-1;
  }
}

.menu {
  list-style: none;
  display: grid;
  align-content: center;
  margin-left: 10rem;
  grid-template-columns: repeat(9, minmax(min-content, max-content));

  @media only screen and (max-width: 100em) {
    margin-left: 5rem;
  }

  grid-gap: 1rem;
  align-items: center;
  &__heading {
    margin-left: 5rem;
    @media only screen and (max-width: 100em) {
      margin: 0 2rem;
      font-size: 2.5rem;
    }
  }

  &__link:link,
  &__link:visited {
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    font-family: $font-display;
    text-transform: uppercase;
    text-align: center;

    display: block;
    padding: 0.7rem;

    transition: all 0.2s;
  }
  &__link:hover,
  &__link:active {
    background-color: rgba(#fff, 0.05);
    transform: translateY(-3px);
  }
}

.ru-eng {
  justify-self: end;
  margin-right: 3rem;
  display: flex;
  @media only screen and (max-width: 87.5em) {
    margin-right: 2rem;
  }
}
