.partners {
  grid-row: 8/9;
  grid-column: 1/3;
  &__header {
    height: 40vh;
  }
  &__container {
    width: 60vw;
    margin: 15rem auto 10rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 20rem);
    grid-gap: 5rem;
    align-items: center;
  }
  &__item {
    display: flex;
    justify-content: center;
  }
}
